.m-b-10 {
    /*margin-bottom: 3rem;*/
}

.content-list {
    width: 100%;
    /*background-color: #fff;*/
}

ul {
    /*max-width: 800px;*/
    width: 100%;
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

ul li {
    list-style: none;
    display: inline-block;
    width: 14rem;
    min-height: 16rem;
    margin: 50px 10px 0 10px;
    padding: 10px; 
    background-color: #fff; 
    vertical-align: top;
}

ul li a {
    text-decoration: none;
    
}

ul li a:link {color: #000}		/* 未访问的链接 */
ul li a:visited {color: #777}	/* 已访问的链接 */
ul li a:hover {color: #ccc}	/* 鼠标移动到链接上 */
ul li a:active {color: #ccc}	/* 选定的链接 */

ul li img {
    width: 100%;
    max-width: 14rem;
    margin-bottom: 10px; 
}

ul li span {
    font-size: 18px;
    line-height: 18px;
}